<div aurelia-app="main">
   <div class="splash">
      <div class="message">Aurelia Navigation Skeleton</div>
      <i class="fa fa-spinner fa-spin"></i>
   </div>
</div>

@section scripts {
   <script>
        System.import('aurelia-bootstrapper');
   </script>
}
